version: '3.7'
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    tty: true
    environment:
      DB_HOST: db
      DB_DATABASE: news_app
      DB_USERNAME: root
      DB_PASSWORD: ''

    ports:
      - 8000:8000
    volumes:
      - ./backend:/app/backend
    networks:
      - app

    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    volumes:
      - ./frontend:/app/frontend

    depends_on:
      - backend

    networks:
      - app

  db:
    platform: linux/x86_64
    image: mariadb:latest
    ports:
      - 8889:3306
    environment:
      MYSQL_DATABASE: 'news_app'
      MYSQL_USER: 'root'
      MYSQL_PASSWORD: ''
      MYSQL_ROOT_PASSWORD: ''

    volumes:
      - .dbdata:/var/lib/mysql/
    networks:
      - app


networks:
  app:
    driver: bridge
